.Home {
  padding: 2em;
}

.search {
  background: #fff;
  display: flex;
  border-radius: 2px;
  border: none;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  z-index: 3;
  height: 44px;
  margin: 0.5em;
}

.search > input {
  background-color: transparent;
  border: none;
  margin: 0;
  padding-left: 1rem;
  color: rgba(0, 0, 0, .87);
  word-wrap: break-word;
  outline: none;
  display: flex;
  flex: 100%;
}

.sheets {
  margin-top: 1em;
  display: flex;
  flex-wrap: wrap;

}

.sheet {
  /*box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);*/
  border: 1px solid #dadce0;
  padding: 1em;
  margin: 0.5em;
}

.sheet-placeholder {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
  color: #333;
  flex: 1;
  text-align: left;
}

.drop-or-upload {
  text-align: center;
  border: 1px dashed #999;
  padding: 0.5em;
}

label {
  display: inline-block;
  width: 90px;
  text-align: right;
  margin-right: 1em;
}

.sheet-form > input{
  /* To make sure that all text fields have the same font settings
    By default, textareas have a monospace font */
  font: 1em sans-serif;

  /* To give the same size to all text fields */
  box-sizing: border-box;

  /* To harmonize the look & feel of text field border */
  border: 1px solid #999;
}

.form-row, button{
  margin-top: 1em;
}

